<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwitchApi.Properties.Settings>
            <setting name="ClientId" serializeAs="String">
                <value>cw72jc19b3brkspunjqkvzkgvsa5kh</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>66dgvxkr0qv1oil0m4hx3sgog8m14p</value>
            </setting>
        </TwitchApi.Properties.Settings>
    </userSettings>
</configuration>